
<div class="col-md-6">
  <h4>My todo's</h4>
  <div class="row" ng-repeat="todo in todos">
    <div class="col-lg-6">
      <div class="input-group">
        <span class="input-group-addon">
          <input type="checkbox" ng-model="todo.complete" ng-change="updateTodo(todo)" >
        </span>
        <input type="text" class="form-control" ng-model="todo.text" ng-change="updateTodo(todo)">
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-6" ng-hide="todos.length>0">No todo's yet</div>
  </div>
  <h4>New</h4>
  <div class="row">
    <div class="col-lg-6">
      <input type="text" ng-model="newTodo" ui-keypress="{13:'addTodo()'}">
      <button ng-click="addTodo()">Add</button>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <br><br>
      <div class="col-lg-6">
        <input type="checkbox" ng-model="online">Online
      </div>
    </div>
  </div>
</div>
